@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --c-bg: snow;
  --c-scrollbar: lightsteelblue;
  --c-scrollbar-hover: #f8ebeb;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
.barra {
  width: 100%;
  height: 20px;
  background-color: red;
}